/* Styles */
#winamp2-js #equalizer-window {
    height: 116px;
    width: 275px;
}

#winamp2-js #equalizer-window.shade {
    height: 14px;
}

#winamp2-js #equalizer-volume {
    position: absolute;
    left: 60px;
    top: 4px;
    height: 6px;
    width: 97px;
    background-position: 0 0;
}

#winamp2-js #equalizer-volume::-webkit-slider-thumb {
    height: 7px;
    width: 2px;
}

#winamp2-js #equalizer-volume::-moz-range-thumb {
    height: 7px;
    width: 2px;
}

#winamp2-js #equalizer-volume.center::-webkit-slider-thumb {
    width: 5px;
}

#winamp2-js #equalizer-volume.center::-moz-range-thumb {
    width: 5px;
}

#winamp2-js #equalizer-balance {
    position: absolute;
    left: 164px;
    top: 4px;
    height: 6px;
    width: 43px;
    background-position: 0 0;
}

#winamp2-js #equalizer-balance::-webkit-slider-thumb {
    height: 7px;
    width: 2px;
}

#winamp2-js #equalizer-balance::-moz-range-thumb {
    height: 7px;
    width: 2px;
}

#winamp2-js #equalizer-balance.center::-webkit-slider-thumb {
    width: 5px;
}

#winamp2-js #equalizer-balance.center::-moz-range-thumb {
    width: 5px;
}

#winamp2-js .equalizer-top {
    height: 14px;
    width: 275px;
    position: relative;
}

#winamp2-js #equalizer-close {
    position: absolute;
    height: 9px;
    width: 9px;
    left: 264px;
    top: 3px;
}

#winamp2-js #equalizer-shade {
    position: absolute;
    height: 9px;
    width: 9px;
    left: 254px;
    top: 3px;
}

#winamp2-js #on {
    position: absolute;
    width: 26px;
    height: 12px;
    top: 18px;
    left: 14px;
}

#winamp2-js #auto {
    position: absolute;
    width: 32px;
    height: 12px;
    top: 18px;
    left: 40px;
}

#winamp2-js #presets-context {
    position: absolute;
    width: 44px;
    height: 12px;
    top: 18px;
    left: 217px;
}

#winamp2-js #presets {
    width: 100%;
    height: 100%;
}

#winamp2-js #eqGraph {
    position: absolute;
    width: 113px;
    height: 19px;
    top: 17px;
    left: 86px;
}

#winamp2-js #preamp {
    position: absolute;
    left: 21px;
    top: 38px;
}

#winamp2-js #plus12db {
    position: absolute;
    left: 45px;
    top: 36px;
    width: 22px;
    height: 8px;
}

#winamp2-js #zerodb {
    position: absolute;
    left: 45px;
    top: 64px;
    width: 22px;
    height: 8px;
}

#winamp2-js #minus12db {
    position: absolute;
    left: 45px;
    top: 95px;
    width: 22px;
    height: 8px;
}

#winamp2-js #band-60 {
    position: absolute;
    left: 78px;
    top: 38px;
}

#winamp2-js #band-170 {
    position: absolute;
    left: 96px;
    top: 38px;
}

#winamp2-js #band-310 {
    position: absolute;
    left: 114px;
    top: 38px;
}

#winamp2-js #band-600 {
    position: absolute;
    left: 132px;
    top: 38px;
}

#winamp2-js #band-1000 {
    position: absolute;
    left: 150px;
    top: 38px;
}

#winamp2-js #band-3000 {
    position: absolute;
    left: 168px;
    top: 38px;
}

#winamp2-js #band-6000 {
    position: absolute;
    left: 186px;
    top: 38px;
}

#winamp2-js #band-12000 {
    position: absolute;
    left: 204px;
    top: 38px;
}

#winamp2-js #band-14000 {
    position: absolute;
    left: 222px;
    top: 38px;
}

#winamp2-js #band-16000 {
    position: absolute;
    left: 240px;
    top: 38px;
}

#winamp2-js .band {
    width: 14px;
    height: 63px;
}

#winamp2-js .band .rc-slider {
    height: 51px;
    width: 14px;
    margin-top: 6px;
}

#winamp2-js .band .rc-slider .rc-slider-handle {
    width: 11px;
    height: 11px;
    margin: -6px 0 0 1px;
    position: absolute;
}
