/* Styles */
#winamp2-js #equalizer-window {
    height: 116px;
    width: 275px;
}

#winamp2-js .equalizer-top {
    height: 14px;
    width: 275px;
}

#winamp2-js #on {
    position: absolute;
    width: 26px;
    height: 12px;
    top: 18px;
    left: 14px;
}

#winamp2-js #auto {
    position: absolute;
    width: 32px;
    height: 12px;
    top: 18px;
    left: 40px;
}

#winamp2-js #presets {
    position: absolute;
    width: 44px;
    height: 12px;
    top: 18px;
    left: 217px;
}

#winamp2-js #eqGraph {
    position: absolute;
    width: 113px;
    height: 19px;
    top: 17px;
    left: 86px;
}

#winamp2-js #preamp {
  position: absolute;
  left: 19px;
  top: 38px;
}

#winamp2-js #plus12db {
  position: absolute;
  left: 45px;
  top: 36px;
  width: 22px;
  height: 8px;
}

#winamp2-js #zerodb {
  position: absolute;
  left: 45px;
  top: 64px;
  width: 22px;
  height: 8px;
}

#winamp2-js #minus12db {
  position: absolute;
  left: 45px;
  top: 95px;
  width: 22px;
  height: 8px;
}

#winamp2-js #band-60 {
  position: absolute;
  left: 79px;
  top: 38px;
}

#winamp2-js #band-170 {
  position: absolute;
  left: 97px;
  top: 38px;
}

#winamp2-js #band-310 {
  position: absolute;
  left: 115px;
  top: 38px;
}

#winamp2-js #band-600 {
  position: absolute;
  left: 133px;
  top: 38px;
}

#winamp2-js #band-1000 {
  position: absolute;
  left: 151px;
  top: 38px;
}

#winamp2-js #band-3000 {
  position: absolute;
  left: 169px;
  top: 38px;
}

#winamp2-js #band-6000 {
  position: absolute;
  left: 187px;
  top: 38px;
}

#winamp2-js #band-12000 {
  position: absolute;
  left: 205px;
  top: 38px;
}

#winamp2-js #band-14000 {
  position: absolute;
  left: 223px;
  top: 38px;
}

#winamp2-js #band-16000 {
  position: absolute;
  left: 241px;
  top: 38px;
}

#winamp2-js .band {
  width: 14px;
  height: 63px;
}

#winamp2-js .band .rc-slider {
    height: 51px;
    width: 14px;
    margin-top: 6px;
    cursor:url('../cursors/POSBAR.PNG'), auto;
}

#winamp2-js .band .rc-slider .rc-slider-handle {
    width: 11px;
    height: 11px;
    margin: -6px 0 0 1px;
    position: absolute;
    cursor:url('../cursors/POSBAR.PNG'), auto;
}