#webamp .mini-time {
  display: block;
  height: 6px;
  width: 25px;
}

#webamp .mini-time.blinking .character:not(.background-character) {
  animation: blink 2s step-start 1s infinite;
  -webkit-animation: blink 2s step-start 1s infinite;
}

#webamp .mini-time .background-character {
  z-index: 1;
}

#webamp .mini-time .character {
  position: absolute;
  top: 0;
  z-index: 2;
}
