/* Rules for the page layout */
body {
    background-color: #224eb7;
    font-family: arial;
    font-size: 15px;
}

#browser-compatibility {
    display: none;
    position: absolute;
    width: 275px;
    margin-top: -58px;
    margin-left: -137px;
    top: 40%;
    left: 50%;
    background: white;
    text-align: center;
}

.about {
    position: absolute;
    bottom: 0;
    right: 1em;
    color: white;
    /* Let users drag windows over this text */
    z-index: -1;
}

.about a {
    color: white;
}

#app #loading {
    color: white;
    text-align: center;
    font-size: 40px;
    height: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#app #loading .ellipsis-anim span {
    opacity: 0;
    -webkit-animation: ellipsis-dot 1s infinite;
    animation: ellipsis-dot 1s infinite;
}

#app #loading .ellipsis-anim span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#app #loading .ellipsis-anim span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#app #loading .ellipsis-anim span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes ellipsis-dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ellipsis-dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
