#playlist {
    position: absolute;
    height: 116px;
    width: 275px;
    margin-top: -58px;
    margin-left: -137px;
    margin-left: -137px;
    top: 40%;
    left: 20%;
    /* Background-image: pledit.bmp */
}
#playlist.closed { display: none; }

#playlist #tracks {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 20px;
    left: 11px;

    width: -moz-calc(100% - 31px);
    width: -webkit-calc(100% - 31px);
    width: calc(100% - 31px);

    height: -moz-calc(100% - 58px);
    height: -webkit-calc(100% - 58px);
    height: calc(100% - 58px);

    overflow-y: scroll;
    overflow-x: hidden;
}
#playlist #tracks li {
    white-space: nowrap;
    font-size: 8px;
}
#playlist #tracks li.selected {
}

#playlist .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

#playlist .top .top-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25px;
    background-position: 0 -21px;
}
#playlist.selected .top .top-left {
    background-position: 0 0;
}

#playlist .top .title {
    position: relative;
    height: 100%;
    width: 100px;
    margin: 0 auto;
    background-position: -26px -21px;
}
#playlist.selected .top .title {
    background-position: -26px 0px;
}

#playlist .top .top-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25px;
    background-position: -153px -21px;
}

#playlist.selected .top .top-right {
    background-position: -153px 0;
}

#playlist .top #playlist-shade {
    background-position: -156px -3px;
    position: absolute;
    top: 3px;
    right: 13px;
    height: 9px;
    width: 9px;
}
#playlist .top #playlist-shade:active {
    background-position: -62px -42px;
}
#playlist .top #playlist-shade.selected {
    background-position: -150px -42px;
}

#playlist .top #playlist-close {
    background-position: -167px -3px;
    position: absolute;
    top: 3px;
    right: 3px;
    height: 9px;
    width: 9px;
}

#playlist .top #playlist-close:active {
    background-position: -52px -42px;
}

#playlist .left {
    height: 100%;
    width: 24px;
    overflow: hidden;
}
#playlist .right {
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 24px;
    overflow: hidden;
}
#playlist .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    overflow: hidden;
}

#playlist .bottom-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 125px;
    background-position: 0 -72px;
}
#playlist .bottom-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px;
    background-position: -126px -72px;
}

#playlist #playlist-resize-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0px;
    right: 0px;
}

/* Shade View */
#playlist.shade {
    height: 14px;
}

#playlist.shade .bottom,
#playlist.shade .left,
#playlist.shade .right,
#playlist.shade .title
{
    display: none;
}
#playlist.shade .playlist-top-tile {
    background: none;
}

#playlist.shade .top .top-left {
    background-position: -72px -42px;
    width: 25px;
    height: 14px;
}
#playlist.shade .top .top-right {
    background-position: -99px -42px;
    width: 50px;
    height: 14px;
}
#playlist.shade .top #playlist-close {
    background-position: -138px -45px;
}
#playlist.shade .top #playlist-close:active {
    background-position: -52px -42px;
}
#playlist.shade .top #playlist-shade {
    background-position: -128px -45px;
}
#playlist.shade .top #playlist-shade:active {
    background-position: -150px -42px;
}
#playlist.shade #tracks {
    top: 0;
    height: 14px;
    background: none;
}
#playlist.shade #tracks li {
    display: none;
    height: 10px;
    margin: 2px 0;
    background: none;
}

#playlist.shade #tracks li.current {
    display: block;
}
