button.wasabi {
    background-image: none;
  border: 4px solid transparent;
  border-image-source: var(--bitmap-wasabi-button);  
  /* border-image-slice: 4 4 4 5 fill; */
  border-image-slice: 4 fill;
  vertical-align:middle;
}

button.wasabi:hover {
    border-image-source: var(--bitmap-wasabi-button-hover);
}

button.wasabi:active {
    border-image-source: var(--bitmap-wasabi-button-pressed);
}