body {
  margin: 0;
  background-color: rgb(58, 110, 165);
  /* background-image: url(img/wallpaper.png); */
  font-family: Arial, Helvetica, sans-serif;
}
#experimental {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-transform: uppercase;
}
#status {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
