.list {
  color: var(--color-studio-list-text, var(--color-wasabi-list-text));
  background-color: var(--color-wasabi-list-background, transparent);
  background-image: var(--bitmap-studio-list-background, none);
}
.list > * {
  user-select: none;
}
.list .selected {
  background-color: var(
    --color-studio-list-item-selected,
    var(--color-wasabi-list-text-selected-background)
  );
  color: var(
    --color-studio-list-item-selected-fg,
    var(--color-wasabi-list-text-selected)
  );
}

/* == COLORTHEMELIST == */
colorthemeslist {
  border: 1px solid black;
  border: none;
}
colorthemeslist > select {
  border: none;
  background-color: transparent;
  color: inherit;
}

/* == PLAYLIST == */
.pl.list {
  /* pointer-events: all; */
  color: aqua;
  background: none;
}
.pl > .content-list {
  margin-right: 15px;
  max-height: 100%;
  /* background: black; */
  min-height: 100%;
  overflow: auto;
  background-color: var(--color-wasabi-list-background, transparent);
  background-image: var(--bitmap-studio-list-background, none);
}
.pl > .content-list > div {
  display: flex;
}
.pl > .content-list div>span:first-child{
  /* color:red; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pl > .content-list div>span:last-child{
  width: 30px;
  float: right;
  text-align: right;
}
.pl > .content-list::-webkit-scrollbar {
  display: none;
}
.pl::before,
.pl::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  background: var(--color-wasabi-window-background, transparent);
  z-index: 0;
  pointer-events: none;
}
.pl::after {
  width: 8px;
  right: 2px;
  border-left: 1px solid
    var(--color-wasabi-border-sunken, rgba(192, 192, 192, 0.8));
  border-right: 1px solid
    var(--color-wasabi-border-sunken, rgba(192, 192, 192, 0.8));
  background: var(--color-wasabi-scrollbar-background-inverted, black);
}
.pl > slider {
  z-index: 1;
}
.classic .pl::before,
.classic .pl::after {
  content: none;
}

.pl > slider::after /* button.wasabi */ {
  box-sizing: border-box;
  background-image: none;
  border: 4px solid transparent;
  border-image-source: var(--bitmap-studio-button);
  /* border-image-slice: 4 4 4 5 fill; */
  border-image-slice: 4 fill;
  vertical-align: middle;
}
.pl > slider:active:after /* button.wasabi:active  */ {
  border-image-source: var(--bitmap-studio-button-pressed);
}

.pl > slider::before {
  content: "";
  position: absolute;
  /* TODO: do centering it by calc the real grip's bitmap height/width. */
  left: calc(var(--thumb-left) + 1px);
  top: calc(var(--thumb-top) + 5px);
  width: 6px;
  height: 8px;
  background-image: var(--bitmap-wasabi-scrollbar-vertical-grip);
}

.pl .current {
  color: var(
    --color-pledit-text-current,
    var(--color-wasabi-list-text-current)
  );
}
