/* Let's get this party started */
/*? VERTICAL */
/* #web-amp *::-webkit-scrollbar-track { */
#web-amp *::-webkit-scrollbar {
  width: var(--dim-vscrollbar-width);
  background-image: var(--bitmap-wasabi-scrollbar-vertical-background);
}

/* Track */
/* #web-amp *::-webkit-scrollbar-track {
    background-image: var(--bitmap-wasabi-scrollbar-vertical-background);
} */
#web-amp *::-webkit-scrollbar-button {
  background-image: var(--bitmap-wasabi-scrollbar-vertical-left);
}
#web-amp *::-webkit-scrollbar-button:vertical {
  height: var(--dim-vscrollbar-btn-height);
}
#web-amp *::-webkit-scrollbar-button:vertical:increment {
  background-image: var(--bitmap-wasabi-scrollbar-vertical-right);
}

/* Handle */
#web-amp *::-webkit-scrollbar-thumb {
  background-image: var(
    --bitmap-wasabi-scrollbar-vertical-button,
    var(--bitmap-studio-scrollbar-vertical-button)
  );
  /*background-repeat: repeat;*/
}
#web-amp *::-webkit-scrollbar-thumb {
  max-height: var(
    --dim-vscrollbar-thumb-height,
    var(--dim-vscrollbar-thumb-height2)
  );
  min-height: var(
    --dim-vscrollbar-thumb-height,
    var(--dim-vscrollbar-thumb-height2)
  );
  background-repeat: no-repeat;
}
/* #web-amp *::-webkit-scrollbar-thumb::after {
    content: 'HALO';
    position: absolute;
    display: block;
    inset: 0;
    background: rgba(255, 230, 0, 1);
    z-index: 100;
} */
/* #web-amp *::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
} */

/*? HORIZONTAL */
#web-amp *::-webkit-scrollbar:horizontal {
  height: var(--dim-hscrollbar-height);
  background-image: var(--bitmap-wasabi-scrollbar-horizontal-background);
}
/* Track */
/* #web-amp *::-webkit-scrollbar-track:horizontal {
} */
#web-amp *::-webkit-scrollbar-button:horizontal {
  background-image: var(--bitmap-wasabi-scrollbar-horizontal-left);
  width: var(--dim-hscrollbar-btn-width);
}
#web-amp *::-webkit-scrollbar-button:horizontal:increment {
  background-image: var(--bitmap-wasabi-scrollbar-horizontal-right);
}
/* Handle */
#web-amp *::-webkit-scrollbar-thumb:horizontal {
  background-image: var(--bitmap-studio-scrollbar-horizontal-button);
}

#web-amp *::-webkit-scrollbar-corner {
  background: transparent;
}
/* ---------- EOF SCROLLBAR ------------ */
