body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Set body height to viewport height */
  background-color: #1a1a1a; /* Dark charcoal instead of pure black */
}

.scroller::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scroller,
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
