{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 ChromeAndroid versions",
            "last 2 Safari versions",
            "last 2 Firefox versions",
            "last 2 Edge versions",
            "last 2 iOS versions",
            "last 2 Opera versions"
          ]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-proposal-class-properties"],
  "env": {
    "test": {
      "presets": ["@babel/preset-react"],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    },
    "library": {
      "plugins": [
        "babel-plugin-remove-webpack",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
