{
  "presets": [
    [
      "env",
      {
        "targets": {
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}