{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },
  "plugins": [
      "react"
  ],
  "settings": {
    "react": {
      "version": "15.2"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "es6": true,
    "jest": true
  },

  "rules": {
    "no-multiple-empty-lines": ["error", {"max": 2, "maxEOF": 0, "maxBOF": 0}],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-spacing": "error",
    "block-scoped-var": "warn",
    "brace-style": ["warn", "1tbs"],
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": "error",
    "consistent-return": "warn",
    "constructor-super": "error",
    "dot-notation": ["error", { "allowKeywords": false }],
    "eol-last": "error",
    "eqeqeq": ["error", "smart"],
    "guard-for-in": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": "warn",
    "keyword-spacing": "error",
    "linebreak-style": "error",
    "max-depth": ["warn", 4],
    "max-params": ["warn", 5],
    "new-cap": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-catch-shadow": "error",
    "no-const-assign": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-div-regex": "warn",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "warn",
    "no-empty-character-class": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inner-declarations": "error",
    "no-irregular-whitespace": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-multi-spaces": "warn",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-negated-in-lhs": "warn",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-new-symbol": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-shadow": "error",
    "no-spaced-func": "error",
    "no-this-before-super": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "no-use-before-define": ["error", "nofunc"],
    "no-useless-rename": "error",
    "no-var": "error",
    "no-with": "error",
    "object-curly-spacing": ["error", "always"],
    "prefer-arrow-callback": "warn",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "warn",
    "quotes": ["error", "double", "avoid-escape"],
    "radix": "error",
    "react/no-string-refs": "error",
    "react/jsx-boolean-value": "error",
    "react/jsx-closing-bracket-location": ["error", "line-aligned"],
    "react/jsx-curly-spacing": "error",
    "react/jsx-equals-spacing": "error",
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prefer-stateless-function": "error",
    "react/prefer-es6-class": "error",
    "react/jsx-pascal-case": "error",
    "react/require-render-return": "error",
    "react/self-closing-comp": "error",
    "semi": "error",
    "space-before-function-paren": ["error", {"anonymous": "never", "named": "never"}],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "template-curly-spacing": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "wrap-iife": "error"
  }
}
