{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },
  "plugins": [
      "react"
  ],
  "settings": {
    "react": {
      "version": "15.2"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "es6": true
  },

  "rules": {
    "block-scoped-var": "warn",
    "brace-style": ["warn", "1tbs"],
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": "error",
    "consistent-return": "warn",
    "dot-notation": ["error", { "allowKeywords": false }],
    "eol-last": "error",
    "eqeqeq": ["error", "smart"],
    "guard-for-in": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "key-spacing": "warn",
    "linebreak-style": "error",
    "max-depth": ["warn", 4],
    "max-params": ["warn", 5],
    "new-cap": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-catch-shadow": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-div-regex": "warn",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-else-return": "warn",
    "no-empty-character-class": "error",
    "no-labels": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inner-declarations": "error",
    "no-irregular-whitespace": "error",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-multi-spaces": "warn",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-negated-in-lhs": "warn",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-shadow": "error",
    "no-spaced-func": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "no-use-before-define": ["error", "nofunc"],
    "no-with": "error",
    "object-curly-spacing": ["error", "never"],
    "quote-props": ["warn", "consistent-as-needed"],
    "quotes": ["error", "single", "avoid-escape"],
    "radix": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-no-bind": "error",
    "react/jsx-uses-vars": "error",
    "semi": "error",
    "keyword-spacing": "error",
    "space-before-function-paren": ["error", {"anonymous": "never", "named": "never"}],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "use-isnan": "error",
    "valid-typeof": "error",
    "wrap-iife": "error"
  }
}
