# JSMediaTags, which we use for parsing ID3 tags, requires some additional
# headers be enabled when accessing the media file from another origin. Since
# the media files, in our case, are served from a CDN, Amazon CloudFront, on
# a different domain, we are subject to the CORS restrictions.
#
# CloudFront is just a caching layer that sits in front of jordaneldredge.com,
# so we must serve these original files with the correct headers in order for
# CloudFront to return the correct headers.
#
# https://github.com/aadsm/jsmediatags#http-access-control-cors
Header add Access-Control-Allow-Headers "if-modified-since, range"
Header set Access-Control-Allow-Origin "*"
