{
  "rules": {
    // TODO: Turn these all back on
    // For now we want to be able to define maki method arguments even though we don't use them.
    "@typescript-eslint/no-unused-vars": "off",
    "local-rules/maki-missing-methods": "error",
    "local-rules/maki-class": "error",
    "local-rules/maki-method-types": "error"
  }
}
