{
  "rules": {
    // TODO: Turn these all back on
    "camelcase": "off",
    "no-shadow": "off",
    "no-nested-ternary": "off",
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-return-await": "off",
    "eqeqeq": "off",
    "no-else-return": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
