#webamp-context-menu .context-menu {
  left: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

#webamp-context-menu .context-menu.bottom {
  top: 12px;
}

#webamp-context-menu .context-menu.top {
  top: 0px;
}

#webamp-context-menu .context-menu,
#webamp-context-menu .context-menu ul {
  z-index: 50; /* Gross */
  background-color: #ffffff;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #a7a394;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#webamp-context-menu .context-menu li {
  position: relative;
  font-family: "Tahoma";
  font-size: 11px;
  color: black;
  white-space: nowrap;
  margin: 2px;
  padding: 1px 18px 3px 18px;
  display: block;
}

#webamp-context-menu .context-menu li.checked:before {
  float: left;
  /* TODO: Use an image */
  content: "\2713";
  margin-left: -12px;
}

#webamp-context-menu .context-menu li.parent:after {
  float: right;
  content: "\25b8";
  margin-right: -12px;
}
#webamp-context-menu .context-menu li a {
  text-decoration: none;
  color: black;
  cursor: default;
}

#webamp-context-menu .context-menu li:hover,
#webamp-context-menu .context-menu li:hover a {
  background-color: #224eb7;
  color: #ffffff;
}

#webamp-context-menu .context-menu li.hr {
  padding: 2px 0;
}

#webamp-context-menu .context-menu li.hr:hover {
  background-color: #ffffff;
}

#webamp-context-menu .context-menu li.hr hr {
  border: none;
  height: 1px;
  background-color: #a7a394;
  margin: 0;
  padding: 0;
}

#webamp-context-menu .context-menu ul {
  display: none;
  left: 100%;
  margin-left: -3px;
}

#webamp-context-menu .context-menu li:hover > ul {
  display: block;
}
