/* Styles */
#webamp #equalizer-window {
  height: 116px;
  width: 275px;
}

#webamp #equalizer-window.shade {
  height: 14px;
}

#webamp #equalizer-volume {
  position: absolute;
  left: 61px;
  top: 4px;
  height: 6px;
  width: 97px;
  background-position: 0 0;
}

#webamp #equalizer-volume::-webkit-slider-thumb {
  height: 7px;
  width: 3px;
}

#webamp #equalizer-volume::-moz-range-thumb {
  height: 7px;
  width: 3px;
}

#webamp #equalizer-balance {
  position: absolute;
  left: 164px;
  top: 4px;
  height: 6px;
  width: 43px;
  background-position: 0 0;
}

#webamp #equalizer-balance::-webkit-slider-thumb {
  height: 7px;
  width: 3px;
}

#webamp #equalizer-balance::-moz-range-thumb {
  height: 7px;
  width: 3px;
}

#webamp .equalizer-top {
  height: 14px;
  width: 275px;
  position: relative;
}

#webamp #equalizer-close {
  position: absolute;
  height: 9px;
  width: 9px;
  left: 264px;
  top: 3px;
}

#webamp #equalizer-shade {
  position: absolute;
  height: 9px;
  width: 9px;
  left: 254px;
  top: 3px;
}

#webamp #on {
  position: absolute;
  width: 26px;
  height: 12px;
  top: 18px;
  left: 14px;
}

#webamp #auto {
  position: absolute;
  width: 32px;
  height: 12px;
  top: 18px;
  left: 40px;
}

#webamp #presets-context {
  position: absolute;
  width: 44px;
  height: 12px;
  top: 18px;
  left: 217px;
}

#webamp #presets {
  width: 100%;
  height: 100%;
}

#webamp #eqGraph {
  position: absolute;
  width: 113px;
  height: 19px;
  top: 17px;
  left: 86px;
}

#webamp #preamp {
  position: absolute;
  left: 21px;
  top: 38px;
}

#webamp #plus12db {
  position: absolute;
  left: 45px;
  top: 36px;
  width: 22px;
  height: 8px;
}

#webamp #zerodb {
  position: absolute;
  left: 45px;
  top: 64px;
  width: 22px;
  height: 8px;
}

#webamp #minus12db {
  position: absolute;
  left: 45px;
  top: 95px;
  width: 22px;
  height: 8px;
}

#webamp #band-60 {
  position: absolute;
  left: 78px;
  top: 38px;
}

#webamp #band-170 {
  position: absolute;
  left: 96px;
  top: 38px;
}

#webamp #band-310 {
  position: absolute;
  left: 114px;
  top: 38px;
}

#webamp #band-600 {
  position: absolute;
  left: 132px;
  top: 38px;
}

#webamp #band-1000 {
  position: absolute;
  left: 150px;
  top: 38px;
}

#webamp #band-3000 {
  position: absolute;
  left: 168px;
  top: 38px;
}

#webamp #band-6000 {
  position: absolute;
  left: 186px;
  top: 38px;
}

#webamp #band-12000 {
  position: absolute;
  left: 204px;
  top: 38px;
}

#webamp #band-14000 {
  position: absolute;
  left: 222px;
  top: 38px;
}

#webamp #band-16000 {
  position: absolute;
  left: 240px;
  top: 38px;
}
