/* Styles */
#webamp #main-window {
  position: absolute;
  height: 116px;
  width: 275px;
  /* Ask the browser to scale showing large pixels if possible */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: pixelated; /* Only in Chrome > 40 */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

#webamp #title-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 275px;
}

#webamp #option-context,
#webamp #minimize,
#webamp #shade,
#webamp #close {
  position: absolute;
  height: 9px;
  width: 9px;
  top: 3px;
}

#webamp #title-bar #option {
  width: 100%;
  height: 100%;
}

#webamp #title-bar #option-context {
  left: 6px;
}
#webamp #title-bar #minimize {
  left: 244px;
}
#webamp #title-bar #shade {
  left: 254px;
}
#webamp #title-bar #close {
  left: 264px;
}
#webamp #clutter-bar {
  position: absolute;
  top: 22px;
  left: 10px;
  height: 43px;
  width: 8px;
}

#webamp #clutter-bar div {
  position: absolute;
  height: 7px;
  width: 8px;
  left: 0px;
}

#webamp #clutter-bar #button-o {
  top: 3px;
  height: 8px;
}
#webamp #clutter-bar #button-a {
  top: 11px;
}
#webamp #clutter-bar #button-i {
  top: 18px;
}
#webamp #clutter-bar #button-d {
  top: 25px;
  height: 8px;
}
#webamp #clutter-bar #button-v {
  top: 33px;
}

#webamp #play-pause {
  position: absolute;
  top: 28px;
  left: 26px;
  height: 9px;
  width: 9px;
  background-repeat: no-repeat;
}

#webamp .play #work-indicator,
#webamp #work-indicator.selected {
  position: absolute;
  top: 28px;
  left: 24px;
  height: 9px;
  width: 3px;
}
#webamp .webamp-status #time {
  position: absolute;
  left: 39px;
  top: 26px;
  /* Just to make it clickable */
  height: 13px;
  width: 59px;
}

#webamp .stop .webamp-status #time {
  display: none;
}
#webamp .pause .webamp-status #time {
  animation: blink 2s step-start 1s infinite;
  -webkit-animation: blink 2s step-start 1s infinite;
}

#webamp .webamp-status #time #minus-sign {
  /* Note that this get's augmented by the skin CSS if NUM_EX.BMP is present */
  position: absolute;
  top: 6px;
  left: -1px;
  width: 5px;
  height: 1px;
}

#webamp .webamp-status #time #minute-first-digit {
  position: absolute;
  pointer-events: none;
  left: 9px;
  height: 13px;
  width: 9px;
}
#webamp .webamp-status #time #minute-second-digit {
  position: absolute;
  pointer-events: none;
  left: 21px;
  height: 13px;
  width: 9px;
}
#webamp .webamp-status #time #second-first-digit {
  position: absolute;
  pointer-events: none;
  left: 39px;
  height: 13px;
  width: 9px;
}
#webamp .webamp-status #time #second-second-digit {
  position: absolute;
  pointer-events: none;
  left: 51px;
  height: 13px;
  width: 9px;
}

#webamp #main-window #visualizer {
  position: absolute;
  top: 43px;
  left: 24px;
}

#webamp #main-window.shade #visualizer {
  top: 5px;
  left: 79px;
}

#webamp .text {
  display: none;
}

#webamp #marquee {
  position: absolute;
  left: 111px;
  top: 24px;
  width: 154px;
  height: 6px;
  overflow: hidden;
  display: block;
  padding: 3px 0px; /* Ensure the target is correct for the cursor */
}

#webamp .media-info #kbps {
  position: absolute;
  left: 111px;
  top: 43px;
  width: 15px;
  height: 6px;
  overflow: hidden;
}

#webamp .stop .media-info #kbps {
  display: none;
}

#webamp .media-info #khz {
  position: absolute;
  left: 156px;
  top: 43px;
  width: 10px;
  height: 6px;
  overflow: hidden;
}

#webamp .stop .media-info #khz {
  display: none;
}

#webamp .media-info .mono-stereo {
  position: absolute;
  left: 212px;
  top: 41px;
  width: 57px;
  height: 12px;
}

#webamp .media-info .mono-stereo div {
  position: absolute;
  height: 12px;
}

#webamp .media-info .mono-stereo #mono {
  width: 27px;
}

#webamp .media-info .mono-stereo #stereo {
  left: 27px;
  width: 29px;
}

#webamp #volume {
  position: absolute;
  left: 107px;
  top: 57px;
  height: 13px;
  width: 68px;
  background-position: 0 0;
}

#webamp #volume input {
  height: 13px;
  /* The input itself, is actually 3px shorter than the background
     * https://twitter.com/LuigiHann/status/959275940688867328
     */
  width: 65px;
  display: block;
}
#webamp #volume input::-webkit-slider-thumb {
  top: 1px;
  height: 11px;
  width: 14px;
}
#webamp #volume input::-moz-range-thumb {
  top: 1px;
  height: 11px;
  width: 14px;
}

#webamp #balance {
  position: absolute;
  left: 177px;
  top: 57px;
  height: 13px;
  width: 38px;
  background-position: 0 0;
}

#webamp #balance::-webkit-slider-thumb {
  top: 1px;
  height: 11px;
  width: 14px;
}
#webamp #balance::-moz-range-thumb {
  top: 1px;
  height: 11px;
  width: 14px;
}

#webamp .windows {
  position: absolute;
  left: 219px;
  top: 58px;
  width: 46px;
  height: 12px;
}

#webamp .windows div {
  position: absolute;
  width: 23px;
  height: 12px;
}

#webamp .windows #equalizer-button {
  left: 0;
}

#webamp .windows #playlist-button {
  left: 23px;
}

#webamp #position {
  position: absolute;
  left: 16px;
  top: 72px;
  width: 248px;
  height: 10px;
}

#webamp #position::-webkit-slider-thumb {
  height: 10px;
  width: 29px;
  /*
     * Fix the strange bug in Safair/mobile-chrome
     * http://stackoverflow.com/questions/26727769/rendering-glitch-when-manipulating-range-input-value-via-javascript-in-webkit
     */
  -webkit-box-sizing: border-box;
  position: relative;
}

#webamp #position::-moz-range-thumb {
  height: 10px;
  width: 29px;
}

/* For some reason, we can't use display: none here */
#webamp .stop #position::-webkit-slider-thumb {
  visibility: hidden;
}
#webamp .stop #position::-moz-range-thumb {
  visibility: hidden;
}

/* For some reason this is needed for the position slider to show up now that
 * we are using React.
 */
#webamp .play #position::-webkit-slider-thumb {
  visibility: visible;
}

#webamp .actions div {
  height: 18px;
  width: 23px;
  position: absolute;
}

#webamp .actions #previous {
  top: 88px;
  left: 16px;
}
#webamp .actions #play {
  top: 88px;
  left: 39px;
}
#webamp .actions #pause {
  top: 88px;
  left: 62px;
}
#webamp .actions #stop {
  top: 88px;
  left: 85px;
}
#webamp .actions #next {
  top: 88px;
  left: 108px;
  width: 22px;
}

#webamp #eject {
  position: absolute;
  top: 89px;
  left: 136px;
  height: 16px;
  width: 22px;
}

#webamp .shuffle-repeat {
  position: absolute;
  top: 89px;
  left: 164px;
  width: 74px;
}

#webamp .shuffle-repeat div {
  position: absolute;
  height: 15px;
}

#webamp .shuffle-repeat #shuffle {
  width: 47px;
}

#webamp .shuffle-repeat #repeat {
  left: 46px;
  width: 28px;
}

#webamp #about {
  position: absolute;
  top: 91px;
  left: 253px;
  height: 15px;
  width: 13px;
}

#webamp .digit {
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 13px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

/* Shade View */
#webamp #main-window.shade {
  height: 14px;
}

#webamp .shade .media-info,
#webamp .shade .windows,
#webamp .shade #volume,
#webamp .shade #balance,
#webamp .shade .shuffle-repeat,
#webamp .shade .webamp-status {
  display: none;
}
#webamp .shade #title-bar {
}

#webamp .shade .actions div {
  position: absolute;
}
#webamp .shade .actions #previous,
#webamp .shade .actions #previous:active {
  background: none;
  height: 10px;
  width: 7px;
  top: 2px;
  left: 169px;
}
#webamp .shade .actions #play,
#webamp .shade .actions #play:active {
  background: none;
  height: 10px;
  width: 10px;
  top: 2px;
  left: 176px;
}
#webamp .shade .actions #pause,
#webamp .shade .actions #pause:active {
  background: none;
  height: 10px;
  width: 9px;
  top: 2px;
  left: 186px;
}
#webamp .shade .actions #stop,
#webamp .shade .actions #stop:active {
  background: none;
  height: 10px;
  width: 9px;
  top: 2px;
  left: 195px;
}
#webamp .shade .actions #next,
#webamp .shade .actions #next:active {
  background: none;
  height: 10px;
  width: 10px;
  top: 2px;
  left: 204px;
}
#webamp .shade #eject,
#webamp .shade #eject:active {
  height: 10px;
  width: 10px;
  top: 2px;
  left: 215px;
  background: none;
}

#webamp .shade #position {
  position: absolute;
  left: 226px;
  top: 4px;
  width: 17px;
  height: 7px;
}

#webamp .shade #position::-webkit-slider-thumb {
  height: 7px;
  width: 3px;
  /* This make it appear. Not sure why */
  background: none;
}

#webamp .shade #position::-moz-range-thumb {
  height: 7px;
  width: 3px;
  /* This make it appear. Not sure why */
  background: none;
}

#webamp #main-window .mini-time {
  position: absolute;
  top: 4px;
  left: 127px;
}
