.screenshot {
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}

.screenshot.loaded {
  opacity: 1;
  /* https://stackoverflow.com/a/16833496/1263117 */
  -webkit-backface-visibility: hidden;
}

.skin:hover {
  /*
  z-index: 10;
  box-shadow: 0px 0px 15px 5px rgba(46, 46, 139, 0.75);
  */
}
